.slider {
  position: relative;
  top: 10px;
  height: 30px; }

.slider-tray {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ccc; }

.slider-handle {
  position: absolute;
  top: 1px; }

.slider-handle-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 10px;
  background-color: #000;
  top: -7px;
  left: -7px; }
  .slider-handle-icon:hover {
    border: solid 1px red; }
  .slider-handle-icon.active {
    border: solid 2px red; }

p a {
  color: #2B00F7; }

p a:hover {
  border-bottom: 1px solid #2B00F7; }

p.instructions {
  font-size: 12px;
  line-height: 1.5em;
  font-family: sans-serif;
  border-bottom: 1px dotted #ccc; }
  p.instructions .fig {
    background: black;
    color: white;
    font-size: 10px;
    padding: .3em;
    margin-right: .3em;
    font-weight: bold; }

.fig {
  margin: 4px auto 18px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#fig1 svg g.bank.closest text {
  visibility: visible; }
#fig1 .time-series {
  margin-bottom: 18px; }

#fig2 svg g.bank.captured text, #fig3 svg g.bank.captured text {
  visibility: visible; }

#fig4 {
  font-family: sans-serif; }
  #fig4 > div {
    padding: .5em 0;
    position: relative; }
  #fig4 div.principal {
    text-align: center; }
  #fig4 div.counterparty {
    display: inline-block;
    width: 50%; }
    #fig4 div.counterparty.payer {
      text-align: left; }
      #fig4 div.counterparty.payer .bar {
        left: 0; }
    #fig4 div.counterparty.receiver {
      text-align: right; }
      #fig4 div.counterparty.receiver .bar {
        right: 0; }
  #fig4 div.net {
    text-align: center;
    border-top: 1px solid #ccc; }
    #fig4 div.net .bar {
      width: -50px; }
      #fig4 div.net .bar.payer {
        left: 50%; }
      #fig4 div.net .bar.receiver {
        right: 50%; }
  #fig4 .figure {
    font-size: 1.5em;
    font-weight: bold; }
  #fig4 .caption {
    font-size: 12px; }
  #fig4 .bar {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: -1;
    width: 20px; }
    #fig4 .bar.payer {
      background: rgba(0, 151, 245, 0.3); }
    #fig4 .bar.receiver {
      background: rgba(0, 255, 0, 0.3); }

svg {
  font: 12px sans-serif;
  width: 100%; }
  svg .axis path,
  svg .axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges; }
  svg .axis text {
    fill: #ccc; }
  svg g.chart-group {
    pointer-events: all; }

.time-series {
  height: 120px;
  line-height: 0; }
  .time-series .line {
    fill: none;
    stroke: #000;
    stroke-width: .5px;
    opacity: .2; }
  .time-series line.scrub {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges; }
  .time-series g.chart-group {
    cursor: ew-resize; }

.libor-chart {
  height: 60px;
  line-height: 0; }
  .libor-chart g.chart-group.mousey {
    cursor: ew-resize; }
  .libor-chart .dot {
    stroke: #000; }
  .libor-chart g.bank text {
    text-anchor: middle;
    visibility: hidden; }
  .libor-chart g.bank.captured circle {
    stroke: red;
    stroke-width: 2px; }
  .libor-chart g.bank:not(.accepted) {
    fill: #ccc; }
  .libor-chart line.libor-span {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 3; }
  .libor-chart g.libor-mark text {
    text-anchor: middle; }

/*# sourceMappingURL=main.css.map */
