@import 'slider';

p a {
  color: #2B00F7;
  &:hover {
    border-bottom: 1px solid #2B00F7;
  }
}

p.instructions {
  font-size: 12px;
  line-height: 1.5em;
  font-family: sans-serif;
  border-bottom: 1px dotted #ccc;
  .fig {
    background: black;
    color: white;
    font-size: 10px;
    padding: .3em;
    margin-right: .3em;
    font-weight: bold;
  }
}

.fig {
  margin: 4px auto 18px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#fig1 {
  svg g.bank.closest text {
    visibility: visible;
  }
  .time-series {
    margin-bottom: 18px;
  }
}

#fig2, #fig3 {
  svg g.bank.captured text {
    visibility: visible;
  }
}

#fig4 {

  &>div {
    padding: .5em 0;
    position: relative;
  }

  font-family: sans-serif;

  div.principal {
    text-align: center;
  }

  div.counterparty {
    display: inline-block;
    width: 50%;
    &.payer {
      text-align: left;
      .bar {
        left: 0;
      }
    }
    &.receiver {
      text-align: right;
      .bar {
        right: 0;
      }
    }
  }

  div.net {
    text-align: center;
    border-top: 1px solid #ccc;

    .bar {
      width: -50px;

      &.payer {
        left: 50%;
      }
      &.receiver {
        right: 50%;
      }
    }
  }

  .figure {
    font-size: 1.5em; 
    font-weight: bold;
  }

  .caption {
    font-size: 12px;
  }

  .bar {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: -1;
    width: 20px;
    &.payer {
      background: hsla(203, 100%, 48%,.3);
    }
    &.receiver {
      background: rgba(0,255,0,.3);
    }
  }

}

svg {
  font: 12px sans-serif;
  width: 100%;

  .axis path,
  .axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
  }

  .axis text {
    fill: #ccc;
  }

  g.chart-group {
    pointer-events: all;
  }
}

.time-series {

  height: 120px;
  line-height: 0;

  .line {
    fill: none;
    stroke: #000;
    stroke-width: .5px;
    opacity: .2;
  }

  line.scrub {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
  }

  g.chart-group {
    cursor: ew-resize;
  }
}

.libor-chart {

  height: 60px;
  line-height: 0;

  g.chart-group.mousey {
    cursor: ew-resize;
  }

  .dot {
    stroke: #000;
  }

  g.bank {

    text {
      text-anchor: middle;
      visibility: hidden;
    }

    &.captured {
      circle {
        stroke: red;
        stroke-width: 2px;
      }
    }

    &:not(.accepted) {
      fill: #ccc;
    }

  }

  line.libor-span {  
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 3;
  }

  g.libor-mark text {
    text-anchor: middle;
  }

}